body{
    font-family:monaco;
    font-size:20px;
}
.update{
    border:1px solid #69a7d1;
    color:#0094f7;
    font-weight:bold;
    border-radius:4px;
    padding:4px;
}
.update:hover{
    background-color: #0094f7;
    color: white;
    border-radius:4px;
    padding:4px;
    transition: 0.2s;
}
.delete:hover{
    background-color: red;
    color: white;
    border-radius:4px;
    padding:4px;
    transition: 0.2s;
}
.delete{
    border:1px solid rgb(218, 107, 107);
    color:red;
    font-weight:bold;
    border-radius:4px;
    padding:4px;
}
table tr td{
    border-collapse:collapse;
    border:0px;
}
table tr:nth-child(even){
    background-color:#fff;
}
#load{
    background-color:blue;
    height:100%;
    width:0%;
    font-size:40px;
    text-align:center;
    overflow:hidden;
    transition:1s;
    color:white;
    position:fixed;
    top:0px;
    left:0px;
    padding-top:25%;
    font-weight:bold;
    font-family:monospace;
    display:inline-block;
}
#load2{
    background-color:red;
    height:100%;
    width:100%;
    font-size:40px;
    text-align:center;
    overflow:hidden;
    transition:1s;
    color:white;
    position:fixed;
    top:0px;
    left:0px;
    padding-top:25%;
    font-weight:bold;
    font-family:monospace;
    display:inline-block;
}